---
layout: page
permalink: /categories/
title: Top Posts
---
<div id="archives" style="margin-left:10px">
  <div class="archive-group">

    <article class="archive-item">
      <h4 style="margin-left:2px"><a href="https://www.trentonbricken.com/Attention-Approximates-Sparse-Distributed-Memory/">Attention Approximates Sparse Distributed Memory</a></h4>
    </article>

    <article class="archive-item">
      <h4 style="margin-left:2px"><a href="https://www.trentonbricken.com/Tail-Free-Sampling/">Tail Free Sampling</a></h4>
    </article>

    <article class="archive-item">
      <h4 style="margin-left:2px"><a href="https://www.trentonbricken.com/Copying-And-Creativity/">Copying And Creativity</a></h4>
    </article>

    <article class="archive-item">
      <h4 style="margin-left:2px"><a href="https://www.trentonbricken.com/GreatestHost/">The Greatest Host</a></h4>
    </article>

  </div>
</div>

<h1 class="category-head">Posts by Category</h1>

<div id="archives" style="margin-left:10px">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <h4 style="margin-left:10px"><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>
